<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Episodio - GVP Admin</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img src="/images/logo/logo.png" style="height: 6rem;" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    

                    <li class="sidebar-title">Episodios</li>

                    <li class="sidebar-item active">
                        <a th:href="@{/Episodio/new/}" class='sidebar-link'>
                            <i class="bi bi-file-earmark-plus-fill"></i>
                            <span>Crear Episodio</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a th:href="@{/Episodio/listar/}" class='sidebar-link'>
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>Listado Episodios</span>
                        </a>
                    </li>

                    <li class="sidebar-title">Usuarios</li>

                    <li class="sidebar-item">
                        <a th:href="@{/User/new/}" class='sidebar-link'>
                            <i class="bi bi-person-plus-fill"></i>
                            <span>Crear Usuario</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a th:href="@{/User/listar/}" class='sidebar-link'>
                            <i class="bi bi-people-fill"></i>
                            <span>Listado Usuarios</span>
                        </a>
                    </li>

                    <form class="d-flex" th:action="@{/logout}" method="post">
                        <input class="btn btn-secondary" type="submit" value="Cerrar sesión" />
                    </form>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Crear Episodio</h3>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/Episodio/listar/}">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nuevo Episodio</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Basic Vertical form layout section start -->
            <form th:action="@{/Episodio/save}" th:object="${episodio}" method="POST">
                <section id="basic-vertical-layouts">
                    <div class="row match-height">
                        <div class="col-md-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Registrar nuevo Episodio</h4>
                                </div>
                                <section id="multiple-column-form">
                                    <div class="row match-height">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <form class="form">
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <label for="nombre">Nombre</label>
                                                                        <input th:field="*{nomPaciente}" type="text" id="nombre" class="form-control"
                                                                               name="fname-column" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <label for="apellidos">Apellidos</label>
                                                                        <input th:field="*{apellPaciente}" type="text" id="apellidos" class="form-control"
                                                                               name="lname-column" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="fechaNacimiento">Fecha Naciemiento</label>
                                                                            <input th:field="*{fechaNac}" type="date" id="fechaNacimiento" class="form-control"
                                                                                   name="lname-column" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <div class="form-check">
                                                                                <input th:field="*{sexo}" value="H" class="form-check-input" type="radio" name="flexRadioDefault" id="maculino">
                                                                                <label class="form-check-label" for="maculino">
                                                                                    Hombre
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input th:field="*{sexo}" value="M" class="form-check-input" type="radio" name="flexRadioDefault" id="femenino">
                                                                                <label class="form-check-label" for="femenino">
                                                                                    Mujer
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="doctor">Doctor</label>
                                                                            <input th:field="*{doctor}" type="text" id="doctor" class="form-control"
                                                                                   name="lname-column" >
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="cama">Cama</label>
                                                                            <input th:field="*{cama}" type="number" id="cama" class="form-control"
                                                                                   name="lname-column">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="fechaAlta">Fecha Alta</label>
                                                                            <input th:field="*{fechaAlta}" type="date" id="fechaAlta" class="form-control"
                                                                                   name="lname-column">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="alergia">Alergia</label>
                                                                            <input th:field="*{alergia}" type="text" id="alergia" class="form-control"
                                                                                   name="lname-column">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="medicacion">Medicación</label>
                                                                            <input th:field="*{medicacion}" type="text" id="medicacion" class="form-control"
                                                                                   name="lname-column">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <label for="numeroPaciente">Numero Paciente</label>
                                                                        <input th:field="*{nPaciente}" type="number" id="numeroPaciente" class="form-control"
                                                                               name="fname-column" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <div class="form-group">
                                                                        <div class="form-group">
                                                                            <label for="diagnostico">Diagnóstico</label>
                                                                            <textarea th:field="*{diagnostico}" class="form-control" id="diagnostico" rows="3"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex justify-content-start">
                                                                    <button type="submit"
                                                                            class="btn btn-primary me-1 mb-1">Crear Episodio</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </section>
            </form>

            <!-- // Basic Vertical form layout section end -->
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2022 &copy; Pablo Álava Lasheras</p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<script src="/js/main.js"></script>
</body>

</html>